/* @charset "utf-8"; */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
em{
	font-style: normal;
	font-style:normal
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	/*font-family: "微软雅黑","宋体",Arial;
	font-size:12px;
	line-height: 24px;*/
	font:12px/28px "微软雅黑","宋体",Arial;
}
img{
	vertical-align:top;
	border:0;
}

.sl{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cl::after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.cl{
	*zoom: 1;
}
input{
	margin: 0;
	padding: 0;
	border: 0;
}
input:focus{
	outline: none;
}
.w{
	width: 1080px;
	margin: auto;
}